body {
	background-color: #212020;
	padding: 0;
	margin: 0;
}
ul,li { list-style-type: none;
        list-style-position:inside;
        padding: 0;
				margin: 0;
}
p {
  text-shadow: 2px 2px 11px rgba(0, 0, 0, 0.5);
}
div, p {
	margin:0;
  padding:0; 
}
h1, h2, h3, span.appearText {
  font-size: 1.8em;
  line-height: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1.2px;
  color: #EEEEEE;
}
p {
  font-size: 1.4em;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1.2px;
  color: #EEEEEE;
}
.navCol {
	width: 20%;
	min-width: 250px;
	height: 100%;
	position: fixed;
	display: flex;
  justify-content: center;
}
	nav {
		list-style-type: none;
		position: absolute;
		align-self: center;
	}
  .navItems {
    opacity: 0;
  }
  	li {
			margin: 0 0 30px 0;
		}
			li a {
				text-decoration: none;
				font-size: 1.2em;
				color: #CCCCCC;
				font-family: 'Roboto', sans-serif;
				font-weight: 300;

				-webkit-transition: color .3s ease-in;
		    -moz-transition: color .3s ease-in;
		    -o-transition: color .3s ease-in;
		    -ms-transition: color .3s ease-in;
		    transition: color .3s ease-in;

				-webkit-transition: font-size .3s ease-in;
		    -moz-transition: font-size .3s ease-in;
		    -o-transition: font-size .3s ease-in;
		    -ms-transition: font-size .3s ease-in;
		    transition: font-size .3s ease-in;
			}
		  .active {
	   	font-size: 1.35em;
			color: #FFFFFF;
		}
		.navItems li a:hover {
			font-size: 1.35em;
		}
.content {
	margin-left: 300px;
	margin-right: 100px;
}
	#intro {
		height: 700px;
	}
		.spacing {
			padding-top: 200px;
		}
    .fadeInText{
      margin-bottom: 100px;
    }
		#intro p {
			display: none;
		}
    .imgButton {
      height: 50px;
      width: 50px;
      fill: #EEEEEE;
      opacity: 0;
      margin-top: 200px;
      display:block;
      margin:auto;
    }
			.portfolio-entry1, .portfolio-entry2, .portfolio-entry3 {
				padding-top: 70px;
			}
      .boldText {
        font-weight: bold;
        font-size: 1.2em;
      }
	#contact {
		padding-top: 200px;
		padding-bottom: 300px;
	}	