html {
	height: 100%;
}
body {
	height: 100%;
	background-color: #212020;
	padding: 0;
	margin: 0;
}
.container {
	height: 100%;
}
ul,li { list-style-type: none;
        list-style-position:inside;
        padding: 0;
				margin: 0;
}
p {
  text-shadow: 2px 2px 11px rgba(0, 0, 0, 0.5);
}
div, p {
	margin:0;
 	padding:0; 
}
h1, h2, h3, .appearText {
	margin: 0;
	padding: 0;
  padding-top: 0.67em;
  padding-bottom: 0.67em;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 1.8em;
  line-height: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1.2px;
  color: #EEEEEE;
}
.appearText {
	font-size: 2.1em;
}
h1 {
	font-size: 2.5em;
	border-bottom: solid;
	border-width: .5px;
	width: 225px;
}
p, .contactInfo li{
  font-size: 1.4em;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1.2px;
  color: #EEEEEE;
}
.fadeInText {
  font-size: 1.6em;
  line-height: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1.2px;
  color: #EEEEEE;
  padding-top: 290px;
  margin-bottom: 150px;
  margin-right: 6%;
}
a {
	text-decoration: none;
	font-size: 1.2em;
	color: #CCCCCC;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.navCol {
	width: 20%;
	height: 100%;
	position: fixed;
	display: flex;
  justify-content: center;
  float: left;
}
	nav {
		list-style-type: none;
		padding-top: 301px;
	}
  #fadeFirst, #fadeSecond, #fadeThird {
    opacity: 0;
  }
  	li {
			margin: 0 0 30px 0;
		}
			li a {
				-webkit-transition: color .3s ease-in;
		    -moz-transition: color .3s ease-in;
		    -o-transition: color .3s ease-in;
		    -ms-transition: color .3s ease-in;
		    transition: color .3s ease-in;

				-webkit-transition: font-size .3s ease-in;
		    -moz-transition: font-size .3s ease-in;
		    -o-transition: font-size .3s ease-in;
		    -ms-transition: font-size .3s ease-in;
		    transition: font-size .3s ease-in;
			}
		.active {
	   	font-size: 1.35em;
			color: #FFFFFF;
		}
		.navItems li a:hover {
			font-size: 1.35em;
		}
	.content {
		height: 100%;
		width: 80%;
		float: left;
		margin-left: 20%;
	}
	#intro {
		height: 100%;
	}
		#intro p {
			display: none;
		}
		.fadeInButton {
			opacity: 0;
		}
		.allImages {
			overflow: auto;
  	}
    .imgButton {
      height: 50px;
      width: 50px;
      fill: #EEEEEE;
      padding-right: 70px;
      display:block;
      margin:auto;
    }
    .boldText {
      font-weight: bold;
      font-size: 1.1em;
      color: #FFFFFF;
    }
  #portfolio {
  	margin-top: 10px;
  }
  #portfolio h1, #portfolio h3 {
  	margin-right: 6%;
  }
  .portfolio-entry p {
  	font-size: 1em;
  	padding-bottom: 20px;
  }
  .lessMargin {
  	margin-right: 2%;
  }
  .leftArrow, .rightArrow {
  	float: left;
  	width: 5%;
  	height: 100%;
  	margin-top: 300px;
  }
  .arrowLeftButton:focus, .arrowRightButton:focus {
  	outline: 0;
  }
  .contentContainer {
  	width: 90%;
  	float: left;
  }
  .imgContainer {
  	float: left;
  	width: 50%;
  	overflow: hidden;
  }
  .portfolioImg {
  	width: 95%;
  	padding: 10px 20px 10px 0;
  	display:block;
    margin:auto;
  }
  .contextContainer {
  	width: 100%;
  	float: left;
  }
  .portfolioBtn {
  	margin:0 auto;
  	width: 100px;
	  display:block;
  	margin-top: 50px;
  	padding: 15px 15px 15px 15px;

  	font-size: 1em;
  	text-align: center;
  	font-weight: bold;
  	color: #212020;

  	border-radius: 10px;
  	border-style: none;
  	background: #EEEEEE;
  	-webkit-box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.5);
	  -moz-box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.5);
	  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.5);

	  -webkit-transition: background .2s;
    -moz-transition:    background .2s;
    -ms-transition:     background .2s;
    -o-transition:      background .2s;
    transition:         background .2s;
  }
  .playBtn {
  	margin:0 auto;
	  display:block;
	  width: 300px;
  }
  .portfolioBtn:hover {
  	background: #CCCCCC;
  }
  .portfolioBtn:focus {
  	outline: 0;
  }
  #entry2, #entry3 {
  	display: none;
  }
	#contact {
		margin-top: 15%;
		height: 90%;
		margin-right: 6%;
	}	
	.contactContent {
		padding-top: 70px;
	}
	.myPhoto {
		float: left;
		width: 30%;
	}
	.myPhoto img {
		width: 100%;
	}
	.contactInfo {
		float: left;
		width: 70%;
		padding-top: 80px;
	}
	.location img {
		float: left;
		height: 30px;
	}
	.contactInfo ul {
		padding-left: 30px;
	}
	.contactInfo li {
		font-size: 1.6em;
	}

	.address:before{
	   content: '';
	   display: inline-block;
	   height: 40px;
	   width: 40px;
	   margin-right: 20px;
	   margin-bottom: -10px;
	   background-image: url(img/location.svg);
	}
	.email:before{
	   content: '';
	   display: inline-block;
	   height: 40px;
	   width: 40px;
	   margin-right: 20px;
	   margin-bottom: -13px;
	   background-image: url(img/mail.svg);
	}
@media only screen and (max-width: 1280px) {
	nav {
		padding-top: 201px;
	}
	.fadeInText {
		padding-top: 190px;
	}
}
@media only screen and (max-width: 970px) {
	a {
		font-size: 1em;
	}
	.active {
   	font-size: 1.15em;
	}
	.navItems li a:hover {
			font-size: 1.15em;
	}
	h1, h2, h3, span.appearText {
	  padding-top: 0.67em;
	  padding-bottom: 0.67em;
	  font-size: 1.4em;
	  line-height: 50px;
	}
	h1 {
		font-size: 2.1em;
		border-bottom: solid;
		border-width: .5px;
		width: 225px;
	}
	.contactInfo {
		padding-top: 50px;
	}
	.contactInfo li {
		font-size: 1.4em;
	}
	.fadeInText {
	  padding-top: 150px;
	  margin-bottom: 100px;
	}
	nav {
		padding-top: 164px;
	}
	.address:before{
	   height: 35px;
	   width: 35px;
	   margin-right: 20px;
	   margin-bottom: -10px;
	}
	.email:before{
	   height: 35px;
	   width: 35px;
	   margin-right: 20px;
	   margin-bottom: -13px;
	}
}
@media only screen and (max-width: 870px) {
	.imgContainer {
  	width: 100%;
  }
  .contactInfo {
		padding-top: 40px;
	}
	.address:before{
	   height: 35px;
	   width: 35px;
	}
	.email:before{
	   height: 35px;
	   width: 35px;
	}
}
@media only screen and (max-width: 650px) {
	h1, h2, h3 {
		margin-left: 6%;
	}
	.navCol {
		display: none;
	}
	.content {
		width: 100%;
		margin-left: 0;
	}
	.fadeInText {
    margin-left: 6%;
    margin-bottom: 80px;
    padding-top: 30px;
    font-size: 1.4em;
    line-height: 40px;
  	letter-spacing: 1.2px;
  }
  .imgButton {
	  padding-right: 0px;
	}
  .portfolioImg {
  	padding: 10px 0 10px 0;
  }
  .contactContent {
  	margin-left: 6%;
  }
  .contactInfo {
		padding-top: 0;
	}
	.myPhoto {
		width: 60%;
		padding-bottom: 20px;
	}
	.contactInfo {
		width: 100%;
	}
	.contactInfo ul {
		padding-left: 0;
	}
  .contactInfo li {
		font-size: 1.1em;
	}
	.address:before{
		height: 25px;
		width: 25px;
		margin-right: 20px;
		margin-bottom: -5px;
	}
	.email:before{
		height: 25px;
		width: 25px;
		margin-right: 20px;
		margin-bottom: -7px;
	}
}

